name: Build
on: [push, pull_request]
jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Get the sources
        uses: actions/checkout@v1
      - name: Install Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Restore the dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Run the tests with code coverage
        run: npm run test
      - name: Upload the code coverage report to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
